"*":
  Zen: {}
  "atom-beautify":
    general:
      _analyticsUserId: "e5eb544a-559d-4547-be1d-9f6317d07ac6"
  "atom-material-ui":
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-typescript": {}
  "autocomplete-plus": {}
  "color-picker":
    preferredFormat: "HEX"
  core:
    disabledPackages: [
      "asciidoc-preview"
      "linter-bootlint"
      "linter-csslint"
      "linter-jscs"
      "linter-jshint"
      "linter-scss-lint"
      "linter-shellcheck"
      "react"
      "glowing-cursor"
    ]
    packagesWithKeymapsDisabled: [
      "git-blame"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "custom-title":
    template: "<%= projectName %> <% if (relativeFilePath) { %>- <%= relativeFilePath %> <% } %> - <%= gitHead %>"
  docblockr: {}
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softTabs: false
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "4f1c242c-dc54-dda0-7bc1-a9ea6fc9ed6d"
  "git-blame":
    columnWidth: 310
    customCommitUrlTemplateString: "https://stash.lbi.co.uk/projects/<%- project %>/repos/<%- repo %>/commits/<%- revision %>"
    dateFormatString: "YYYY-MM-DD HH:MM"
    showOnlyLastNames: false
    useCustomUrlTemplateIfStandardRemotesFail: true
  "git-diff":
    showIconsInEditorGutter: true
  "glowing-cursor":
    innerColor: "#4bd5ff"
  "go-plus":
    currentPanelHeight: "35.93890386343217vh"
  "highlight-selected":
    lightTheme: true
  linter:
    lintOnFlyInterval: 600
    showErrorPanel: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintrcPath: "/Volumes/Data/Users/radmicu/Projects/linters/.eslintrc.json"
    useGlobalEslint: true
  "linter-jscs": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
    executablePath: "/Volumes/Data/Users/radmicu/.rvm/bin/atom_scss-lint"
  "linter-stylelint": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      codeglance: true
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: false
      linterDecorationsZIndex: 0
      pigments: false
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": false
      "split-diffDecorationsZIndex": 0
    scrollAnimation: true
    scrollAnimationDuration: 250
  "minimap-selection":
    highlightCursorsLines: true
  "one-dark-ui":
    layoutMode: "Compact"
  pigments: {}
  "prettier-atom":
    tabWidth: 4
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".css.scss.source":
  editor:
    tabLength: 4
".hyperlink.text":
  editor:
    tabLength: 4
".ini.source":
  editor:
    tabLength: 4
".sass.source":
  editor:
    tabLength: 4
".source.ts":
  editor:
    tabLength: 4
".source.tsx":
  editor:
    tabLength: 4
