packages: [
  "asciidoc-preview"
  "atom-beautify"
  "atom-handlebars"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-pair"
  "atom-ternjs"
  "autocomplete-modules"
  "autocomplete-paths"
  "color-picker"
  "command-logger"
  "docblockr"
  "editor-stats"
  "editorconfig"
  "emmet"
  "file-icons"
  "git-blame"
  "git-log"
  "git-time-machine"
  "glowing-cursor"
  "highlight-selected"
  "hyperclick"
  "js-hyperclick"
  "language-asciidoc"
  "language-powershell"
  "linter"
  "linter-bootlint"
  "linter-csslint"
  "linter-eslint"
  "linter-jscs"
  "linter-jshint"
  "linter-scss-lint"
  "linter-shellcheck"
  "linter-stylelint"
  "markdown-toc"
  "merge-conflicts"
  "minimap"
  "minimap-bookmarks"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-pigments"
  "minimap-selection"
  "minimap-split-diff"
  "monokai"
  "oceanic-next"
  "oceanic-next-color-scheme"
  "package-sync"
  "pigments"
  "react"
  "seti-syntax"
  "seti-ui"
  "sort-lines"
  "split-diff"
  "stylefmt"
  "symbols-tree-view"
  "tabs-to-spaces"
  "travis-ci-status"
  "visual-bell"
  "Zen"
]
